* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior:smooth;
}
body {
    /* background: fixed linear-gradient(to bottom,black, darkgray, darkgray); */ 
    background-repeat: no-repeat;
}

header {
    position: fixed;
    width: 99%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: rgb(48, 48, 48);
    /* filter: opacity(70%); */
    color: white;
}

.logo h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 50px 0px 0px;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a p {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nav-bar a p:hover {
    /* width:70px; */
    /* padding:2px 0px 0px 0px; */
    color: black;
    height: 30px;
}

.social {
    padding: 12px 60px 0px 0px;
}

.social button {
    width: 80px;
    height: 40px;
    background: #000;
    color: white;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 15px;
}

.social button:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
}

.container1 {
    height: 400px;
    /* margin: 0px 20px; */
    padding: 150px 0px 0px 100px;
    color: white;
    /* display: flex;
    justify-content: space-evenly; */
    height: 450px;
    background-image: url(./assests/lokesh_photo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container1-1 {
    margin: 30px 0px 0px 0px;
    width: 50%;
}

.container1-1 p {
    margin: 10px 0px;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    
}

.container1-1 h3 {
    margin: 10px 0px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* .container1-2 {
    
} */

.container1-2 img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.container1-2 img:hover {
    scale: 1.05;
    box-shadow: black 0.7px 1px 1px 1px;
}

.project_button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: black;    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    transition: 0.35s ease-in-out;
    margin: 10px 10px 0px 0px;
}

.project_button:hover {
    color: white;
    background-color: black;
    border-radius: 20px;
}

.about_button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    transition: 0.35s ease-in-out;
    color: white;
    background-color: rgb(48, 48, 48);
    /* filter: opacity(70%); */
    margin: 10px 0px 0px 10px;
}

.about_button:hover {
    color: white;
    background-color: black;
    border-radius: 30px;
}
 .container2{
    background-image: url(./assests/white_abstract_low_poly_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 100px 0px 0px 0px;
}
.about{
    text-align: start;
    align-items: center;
    margin: 0px 0px 10px 40px;
    padding: 10px 0px 0px 0px;
}
.about hr{
    height: 5px ;
    width: 80px;
    background-color: black;
    margin: 0px;
    border: none;
}
.para{
    width:80%;
    margin: 50px auto;
    text-align: justify;
    font-size: 20px;
}
.para p{
    margin: 20px 0px;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.highlight{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
 .container3{
    background-image: url(./assests/white_abstract_low_poly_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.tech_info1{
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0px 0px 0px;
    gap: 100px;
}
.tech_info2{
    display: flex;
    justify-content: end;
    padding: 50px 0px 0px 10px;
    gap: 160px;
    margin: 0px 60px 0px 0px;
}
.tech_info1 p,.tech_info2 p{
    font-size: 30px; 
}
.tech_info1-2{
    border-left: 5px solid gray;
    width: 20%;
    padding: 30px;
    border-radius: 20px;
    line-height: 30px;
    box-shadow: 10px 4px 12px rgba(0,0,0,0.1); 
    transition: 0.2s ease-in-out;
}
.tech_info1-2 p{
  margin: 0px 20px 10px 0px;
  
}
.tech_info1-2:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container4{
    height: 500px;
}













@media (max-width: 768px) {
  /* Header */
  header {
    gap: 10px;
    position: fixed;
    width: 99%;
    display:flex;
    height: 60px;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    /* filter: opacity(70%); */
    color: white;
  }
  .logo h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar {
    display: s;
    }

.nav-bar a {
    text-decoration: none;
}

.nav-bar a p {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nav-bar a p:hover {
    /* width:70px; */
    /* padding:2px 0px 0px 0px; */
    color: black;
    height: 30px;
}

.social {
    padding: ;
}

.social button {
    width: 80px;
    height: 40px;
    background: #000;
    color: white;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 15px;
}

.social button:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
}
  
}